{% extends "base.html" %}
{% block title %}Privacy Policy{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/policies.css') }}">
{% endblock %}
{% block scripts %}
{% endblock %}
{% block content %}
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url_for('index') }}">Home</a></li>
            <li class="breadcrumb-item"><a href="{{ url_for('register') }}">Register</a></li>
            <li class="breadcrumb-item active" aria-current="page">Privacy Policy</li>
        </ol>
    </nav>
    <div class="row">
        <!-- Privacy Policy page -->
        <div class="col-12">
            <h1>Privacy Policy</h1>
            <p>Last updated: November 7, 2021</p>
            <h2 class="text-uppercase">Welcome</h2>
            <p>Company X provides a online e-commerce platform via the Company X website (the “Site”), the
                Company X application (the “App”) and related Internet services (collectively, the “Service(s)”). The
                Service is operated by Company X, Inc. (the “Company”, “we” or “us”) for users of the Service (“you”).
                This Privacy Policy sets forth our policy with respect to information that is collected from visitors to
                the Site and users of the App and/or the Services. Under applicable law, Company X, Inc. is the “data
                controller” of personal data collected through the Services.</p>
            <h2 class="text-uppercase">INFORMATION WE COLLECT</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum nobis sequi qui similique, at natus dolore,
                suscipit laudantium et, repellat totam debitis earum veritatis aut itaque incidunt ullam eius commodi!
                Facere suscipit voluptates molestias dolorem earum. Sit excepturi, omnis, aut quod laboriosam iste vero
                nostrum, quia odit eius nesciunt minus ipsam quisquam temporibus distinctio. Dolorum officia magnam
                cupiditate non veniam.
                Est laboriosam unde accusantium. Distinctio expedita hic, nisi rerum sequi ipsa excepturi aliquid? Error
                dolore commodi ab perferendis magnam? Ad asperiores ab modi cumque nesciunt et pariatur exercitationem,
                libero inventore!</p>
            <h2 class="text-uppercase">OUR USE OF YOUR INFORMATION</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti suscipit tempora atque similique qui,
                nulla natus unde id numquam corporis delectus? Aspernatur sapiente dolores accusamus est veniam
                blanditiis facilis vel!
                Culpa, dicta dolore. Fugiat itaque molestias soluta cumque. Modi odio dolore minus incidunt laboriosam
                illum possimus natus aspernatur. Quidem dicta velit ipsa? Numquam ipsum doloremque soluta mollitia
                aliquam distinctio accusantium?
                Velit, eligendi, autem tempora maxime est optio ea molestiae iure architecto, animi dolorum in quas!
                Iusto ad veritatis vitae debitis, recusandae dolorem esse molestias mollitia, amet quibusdam quis,
                sapiente nisi.</p>
            <h2 class="text-uppercase">OUR DISCLOSURE OF YOUR INFORMATION</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti suscipit tempora atque similique qui,
                nulla natus unde id numquam corporis delectus? Aspernatur sapiente dolores accusamus est veniam
                blanditiis facilis vel!
                Culpa, dicta dolore. Fugiat itaque molestias soluta cumque. Modi odio dolore minus incidunt laboriosam
                illum possimus natus aspernatur. Quidem dicta velit ipsa? Numquam ipsum doloremque soluta mollitia
                aliquam distinctio accusantium?
                Velit, eligendi, autem tempora maxime est optio ea molestiae iure architecto, animi dolorum in quas!
                Iusto ad veritatis vitae debitis, recusandae dolorem esse molestias mollitia, amet quibusdam quis,
                sapiente nisi.</p>
            <h2 class="text-uppercase">YOUR DATA RIGHTS AND CHOICES</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti suscipit tempora atque similique qui,
                nulla natus unde id numquam corporis delectus? Aspernatur sapiente dolores accusamus est veniam
                blanditiis facilis vel!
                Culpa, dicta dolore. Fugiat itaque molestias soluta cumque. Modi odio dolore minus incidunt laboriosam
                illum possimus natus aspernatur. Quidem dicta velit ipsa? Numquam ipsum doloremque soluta mollitia
                aliquam distinctio accusantium?
                Velit, eligendi, autem tempora maxime est optio ea molestiae iure architecto, animi dolorum in quas!
                Iusto ad veritatis vitae debitis, recusandae dolorem esse molestias mollitia, amet quibusdam quis,
                sapiente nisi.</p>
        </div>
    </div>
</div>
{% endblock %}