{% extends "base.html" %}
{% block title %}Terms of Service{% endblock %}
{% block styles %}
{% endblock %}
{% block scripts %}
{% endblock %}
{% block content %}
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url_for('index') }}">Home</a></li>
            <li class="breadcrumb-item"><a href="{{ url_for('register') }}">Register</a></li>
            <li class="breadcrumb-item active" aria-current="page">Terms of Service</li>
        </ol>
    </nav>
    <div class="row">
        <!-- Terms of service page -->
        <div class="col-12">
            <h1>Terms of Service</h1>
            <p>Last updated: November 7, 2021</p>
            <p class="font-weight-bold fs-larger">
                IMPORTANT NOTICE: THESE TERMS OF SERVICE CONTAIN A BINDING ARBITRATION PROVISION AND CLASS ACTION
                WAIVER.
                IT AFFECTS YOUR LEGAL RIGHTS AS DETAILED IN THE DISPUTE RESOLUTION AND CLASS ACTION WAIVER SECTION
                BELOW. PLEASE READ CAREFULLY.
            </p>
            <h2 class="text-uppercase">INTRODUCTION AND ACCEPTING THE TERMS</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum nobis sequi qui similique, at natus dolore,
                suscipit laudantium et, repellat totam debitis earum veritatis aut itaque incidunt ullam eius commodi!
                Facere suscipit voluptates molestias dolorem earum. Sit excepturi, omnis, aut quod laboriosam iste vero
                nostrum, quia odit eius nesciunt minus ipsam quisquam temporibus distinctio. Dolorum officia magnam
                cupiditate non veniam.
                Est laboriosam unde accusantium. Distinctio expedita hic, nisi rerum sequi ipsa excepturi aliquid? Error
                dolore commodi ab perferendis magnam? Ad asperiores ab modi cumque nesciunt et pariatur exercitationem,
                libero inventore!</p>
            <h2 class="text-uppercase">RIGHTS TO USE THE SERVICE</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti suscipit tempora atque similique qui,
                nulla natus unde id numquam corporis delectus? Aspernatur sapiente dolores accusamus est veniam
                blanditiis facilis vel!
                Culpa, dicta dolore. Fugiat itaque molestias soluta cumque. Modi odio dolore minus incidunt laboriosam
                illum possimus natus aspernatur. Quidem dicta velit ipsa? Numquam ipsum doloremque soluta mollitia
                aliquam distinctio accusantium?
                Velit, eligendi, autem tempora maxime est optio ea molestiae iure architecto, animi dolorum in quas!
                Iusto ad veritatis vitae debitis, recusandae dolorem esse molestias mollitia, amet quibusdam quis,
                sapiente nisi.</p>
        </div>
    </div>
</div>
{% endblock %}