body{
    font-family: 'Open Sans', sans-serif;
}

a.navbar-brand{
    font-weight: bold !important;
    font-size: 1.5em;
}

.fa-bars{
    color: #000000;
}

nav[aria-label="breadcrumb"]{
    padding-top: 30px;
}
