{% extends "base.html" %}
{% block title %}Check Out{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/checkout.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url_for('index') }}">Home</a></li>
            <li class="breadcrumb-item"><a href="{{ url_for('shopping_cart') }}">Shopping Cart</a></li>
            <li class="breadcrumb-item active" aria-current="page">Checkout</li>
        </ol>
    </nav>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Checkout</h3>
                </div>
                <div class="card-body">
                    <!-- Delivery Address -->
                    <h5>Delivery Address</h3>
                    {% if user.address_list|length > 0 %}
                    <table class="table table-responsive-md table-borderless">
                        <tr>
                            <td>
                                <address>
                                    <address>
                                        {{ user.address_list[0].street }}, {{user.address_list[0].unit}}
                                        <br>
                                        {{ user.address_list[0].postal_code }}
                                        <br>
                                        {{ user.address_list[0].city }}, {{ user.address_list[0].country }}
                                    </address>
                                </address>
                            </td>
                            <td class="font-weight-bold">Default Address</td>
                            <td>
                                <a role="button" class="btn btn-secondary text-white">Change</a>
                            </td>
                        </tr>
                    </table>
                    {% else %}
                    <div class="alert alert-danger">Please add a delivery address!</div>
                    {% endif %}
                    <!-- Order Summary -->
                    <table class="table table-sm table-hover table-responsive-md">
                        <thead>
                            <tr>
                                <th class="text-uppercase table-col-header" colspan="1"></th>
                                <th class="text-uppercase table-col-header">Products Ordered</th>
                                <th class="text-uppercase table-col-header">Unit Price</th>
                                <th class="text-uppercase table-col-header">Quantity</th>
                                <th class="text-uppercase table-col-header">Item Subtotal</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for item in checkout_items %}
                            <tr>
                                <td><img class="img checkout-product-img" src="{{ item['product']['image_url'] }}"></td>
                                <td>{{ item['title'] }}</td>
                                <td>$ {{ '%0.2f'|format(item['price']|float) }}</td>
                                <td>{{ item['quantity'] }}</td>
                                <td>$ {{ '%0.2f'|format(item['total_amount']|float) }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <p style="text-align: right;">Order Total: ${{ '%0.2f'|format(session.get("total_price")|float) }}</p>
                </div>
                <div class="card-footer">
                    <!-- Payment Method -->
                    <a class="btn btn-success float-right text-white {{ 'disabled' if user.address_list|length == 0  }}" href="{{ url_for('place_order') }}">Place Order</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}