{% extends "base.html" %}
{% block title %}Check Out{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/checkout.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url_for('index') }}">Home</a></li>
            <li class="breadcrumb-item"><a href="{{ url_for('shopping_cart') }}">Shopping Cart</a></li>
            <li class="breadcrumb-item active" aria-current="page">Checkout</li>
        </ol>
    </nav>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Checkout</h3>
                </div>
                <div class="card-body">
                    <!-- Delivery Address -->
                    <h5>Delivery Address</h3>
                    {% if user.address_list|length > 0 %}
                    <table class="table table-responsive-md table-borderless">
                        <tr>
                            <td>
                                <address>
                                    <address>
                                        {{ user.address_list[0].street }}, {{user.address_list[0].unit}}
                                        <br>
                                        {{ user.address_list[0].postal_code }}
                                        <br>
                                        {{ user.address_list[0].city }}, {{ user.address_list[0].country }}
                                    </address>
                                </address>
                            </td>
                            <td class="font-weight-bold">Default Address</td>
                            <td>
                                <a role="button" class="btn btn-secondary text-white">Change</a>
                            </td>
                        </tr>
                    </table>
                    {% else %}
                    <div class="alert alert-danger">Please add a delivery address!</div>
                    {% endif %}
                    <!-- Order Summary -->
                    <div class="list-group mb-3 mobile-disappear">
                        <div class="list-group-item">
                            <div class="row">
                                <div class="col-xl-2 col-lg-3 col-md-3 col-4 text-uppercase font-weight-bold">Products Ordered</div>
                                <div class="col-xl-10 col-lg-9 col-md-9 col-8">
                                    <div class="row">
                                        <div class="col-xl-5 col-lg-4 text-uppercase font-weight-bold"></div>
                                        <div class="col-xl-2 col-lg-2 text-uppercase font-weight-bold">Unit Price</div>
                                        <div class="col-xl-2 col-lg-3 text-uppercase font-weight-bold">Quantity</div>
                                        <div class="col-xl-3 col-lg-2 text-uppercase font-weight-bold">Item Subtotal</div>
                                    </div>
                                </div>
                                <hr/>
                            </div>
                        </div>
                    </div>
                    <div class="list-group">
                        {% for item in checkout_items %}
                        <div class="list-group-item list-group-item-action">
                            <div class="row">
                                <div class="col-xl-2 col-lg-3 col-md-3 col-4">
                                    <div>
                                        <img class="img checkout-product-img" src="{{ item['product']['image_url'] }}">
                                    </div>
                                </div>
                                <div class="col-xl-10 col-lg-9 col-md-9 col-8">
                                    <div class="row">
                                        <div class="col-xl-5 col-lg-4">
                                            {{ item['title'] }}
                                        </div>
                                        <div class="col-xl-2 col-lg-2">
                                            $ {{ '%0.2f'|format(item['price']|float) }}
                                        </div>
                                        <div class="col-xl-2 col-lg-3 mb-2">
                                            <span class="breakpoint-hidden font-weight-bold">Quantity:</span> {{ item['quantity'] }}
                                        </div>
                                        <div class="col-xl-3 col-lg-2 mobile-disappear">
                                            $ {{ '%0.2f'|format(item['total_amount']|float) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-end">
                    <div class="total-price mr-3">
                        Total: ${{ '%0.2f'|format(session.get("total_price")|float) }}
                    </div>
                    <!-- Payment Method -->
                    <a class="btn btn-success float-right text-white {{ 'disabled' if user.address_list|length == 0  }}" href="{{ url_for('place_order') }}">Place Order</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}