{% extends "base.html" %}
{% block title %}Orders{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/orders.css') }}">
{% endblock %}
{% block content %}
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url_for('index') }}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">My Orders</li>
        </ol>
    </nav>
    <div class="row mt-3">
        {% if orders %}
        {% for order in orders %}
        <div class="col-12 mb-4">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Order: {{ order.id }}</h4>
                    <div>Order Date: {{ order.date_created.strftime('%d/%m/%Y %H:%M') }}</div>
                </div>
                <div class="card-body">
                    <table class="table table-sm table-hover">
                        <thead>
                            <tr>
                                <th class="text-uppercase table-col-header" colspan="1"></th>
                                <th class="text-uppercase table-col-header">Products Ordered</th>
                                <th class="text-uppercase table-col-header">Unit Price</th>
                                <th class="text-uppercase table-col-header">Quantity</th>
                                <th class="text-uppercase table-col-header">Item Subtotal</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for item in order.ordered_products %}
                            <tr>
                                <td><img class="img img-fluid order-product-img" src="{{ item['product']['image_url'] }}"></td>
                                <td>{{ item['title'] }}</td>
                                <td>$ {{ '%0.2f'|format(item['price']|float) }}</td>
                                <td>{{ item['quantity'] }}</td>
                                <td>$ {{ '%0.2f'|format(item['total_amount']|float) }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div style="text-align: right;">Order Total: ${{ '%0.2f'|format(order.total_amount) }}</div>
                    <div style="text-align: right;">Amount Paid: ${{ '%0.2f'|format(order.total_amount) }}</div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="col-12">
            <div class="alert alert-secondary" role="alert">
                No Order History. Make your <a href="{{ url_for('shopping_cart') }}">first order</a> now.
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}