{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">{% endblock %}

{% block content %}
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url_for('index') }}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Register</li>
        </ol>
    </nav>
    <div class="col-sm-12">
    </div>
</div>
{% endblock %}