{% extends "base.html" %}
{% block title %}Reset Password{% endblock %}
{% block styles %}
{% endblock %}
{% block scripts %}
{% endblock %}
{% block content %}
<div class="container">
    <div class="row mt-5 pt-5">
        <div class="col-lg-6 col-md-8 offset-lg-3 offset-md-2">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title my-0">Reset Password</h4>
                </div>
                <div class="card-body">
                    <form action="{{ url_for('reset_password') }}" method="POST">
                        <div class="form-group row">
                            <div class="col-lg-10 offset-lg-1">
                                {% if sent %}
                                    <div class="alert alert-success">
                                        If a matching account was found, an email was sent to {{ email }} with a link to reset the password.
                                    </div>
                                {% endif %}
                                {% if error %}
                                    <div class="alert alert-danger">
                                        <p>{{ error }}</p>
                                    </div>
                                {% endif %}
                                <p class="text-justify">
                                    <small>Enter your email and we'll send you a link to get back into your account.</small>
                                </p>
                                {% if sent %}
                                    <div class="form-group">
                                        <input type="email" class="form-control" id="email" name="email" placeholder="Email" value="{{ email }}" disabled>
                                    </div>
                                {% else %}
                                    <div class="form-group">
                                        <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-10 offset-lg-1">
                                {% if sent %}
                                <a type="button" class="btn btn-primary w-100" href="{{ url_for('index') }}">Return to Home</a>
                                {% else %}
                                <button class="btn btn-primary w-100" type="submit">Continue</button>
                                {% endif %}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}