{% extends "base.html" %}
{% block title %}Shopping Cart{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/shoppingcart.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url_for('index') }}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Shopping Cart</li>
        </ol>
    </nav>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">My Cart</h3>
                </div>
                <div class="card-body">
                    <table class="table table-sm table-hover">
                        <thead>
                            <tr>
                                <th class="text-uppercase table-col-header" colspan="1"></th>
                                <th class="text-uppercase table-col-header">Product</th>
                                <th class="text-uppercase table-col-header">Unit Price</th>
                                <th class="text-uppercase table-col-header">Quantity</th>
                                <th class="text-uppercase table-col-header">Total Price</th>
                                <th class="text-uppercase table-col-header">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if session.get("shopping_cart") %}
                                {% for item in session.get("shopping_cart") %}
                                <tr>
                                    <td><img class="img img-fluid cart-product-img" src="{{ item['image_url'] or item['product']['image_url'] }}"></td>
                                    <td>{{ item['title'] }}</td>
                                    <td>$ {{ '%0.2f'|format(item['price']|float) }}</td>
                                    <td>
                                        <form method="POST" action="{{ url_for('update_cart') }}">
                                            <input name="product_quantity" class="form-control" style="width: 80px;" type="number" value="{{ item['quantity'] }}" min="1" max="10" onchange="this.form.submit()">
                                            <input name="product_id" type="hidden" value="{{ item['product'].id or item['product']['$oid'] }}" />
                                        </form>
                                    </td>
                                    <td>$ {{ '%0.2f'|format(item['total_amount']|float) }}</td>
                                    <td><a class="btn btn-danger text-white" role="button" href="{{ url_for('remove_from_cart', product_id= item['product'].id or item['product']['$oid'] ) }}">Remove</a></td>
                                </tr>
                                {% endfor %}
                            {% else %}
                            <tr>
                                <td colspan="1"></td>
                                <td colspan="4">Shopping Cart Is Empty</td>
                            </tr>
                            {% endif %}
                        </tbody>
                    </table>
                    <p style="text-align: right;">Total: ${{ '%0.2f'|format(session.get("total_price")|float) }}</p>
                </div>
                <div class="card-footer">
                    <a class="btn btn-success float-right text-white" href="{{ url_for('checkout') }}">Check Out</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}