{% extends "base.html" %}
{% block title %}Shopping Cart{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/shoppingcart.css') }}">{% endblock %}

{% block content %}
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url_for('index') }}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Shopping Cart</li>
        </ol>
    </nav>
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">My Cart</h3>
            </div>
            <div class="card-body">
                <table class="table table-sm table-hover">
                    <thead>
                        <tr>
                            <th class="text-uppercase table-col-header" colspan="1"></th>
                            <th class="text-uppercase table-col-header">Product</th>
                            <th class="text-uppercase table-col-header">Price</th>
                            <th class="text-uppercase table-col-header">Quantity</th>
                            <th class="text-uppercase table-col-header">Amount</th>
                            <th class="text-uppercase table-col-header"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if session.get("shopping_cart") %}
                            {% for item in session.get("shopping_cart") %}
                            <tr>
                                <td colspan="1"></td>
                                <td>{{ item[0].title }}</td>
                                <td>$ {{ '%0.2f'|format(item[0].price|float) }}</td>
                                <td><input class="form-control" style="width: 80px;" type="number" value="{{ item[1] }}" min="1" max="10" onchange=""></td>
                                <td>$ {{ '%0.2f'|format(item[0].price*item[1]|float) }}</td>
                                <td><a class="btn btn-danger text-white" role="button" href="{{ url_for('remove_from_cart', product_id=item[0]['_id']['$oid']) }}">Remove</a></td>
                            </tr>
                            {% endfor %}
                        {% else %}
                        <tr>
                            <td colspan="1"></td>
                            <td colspan="4">Shopping Cart Is Empty</td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
                <p style="text-align: right;">Total: ${{ '%0.2f'|format(session.get("total_price")|float) }}</p>
            </div>
            <div class="card-footer">
                <button class="btn btn-success float-right">Check Out</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}