<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
    <link rel="icon" type="image/svg" href="{{ url_for('static', filename='icons/KT-Home.svg') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,500,600,800,1000&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/42f293c45e.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 offset-lg-2 offset-sm-1 bg">
                <div class="contents">
                    <h2>Password Reset</h2>
                    <p>Hello {{ user.name }},</p>
                    <p>You're receiving this e-mail because you requested a password reset for your user account.</p>
                    <p>If you didn't request this change, you can disregard this email - we have not yet reset your password.</p>
                    <p>
                        To reset your password, click the link below:
                        <br>
                        <a href="{{ link }}">Click here to reset your password</a>
                    </p> 
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<style scoped>
    body {
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
    }

    .navbar-brand{
        font-weight: 800;
        font-size: 1.5em;
    }

    .bg{
        background-color: #f5f5f5;
    }

    .contents {
        padding: 2em;
        background-color: #ffffff;
        margin-bottom: 2em;
    }
</style>